---
---

<!doctype html>
<html>
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="icon" type="image/x-icon" href="{{ "/assets/profile.png" | relative_url }}" />
        <link rel="preconnect" href="https://fonts.googleapis.com">
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Inter:wght@100..900&family=Merriweather:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap" rel="stylesheet">
        <link href="https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{{ "/assets/css/main.css" | relative_url }}" />
        <title>{{ site.author }} | {{ site.nickname }}</title>
    </head>
    <body class="bg-light dark:bg-dark">
        <header class="fixed top-0 left-0 py-4 w-full z-10 h-16 bg-dark shadow-md">
            <div class="max-w-3xl mx-auto h-full flex items-center justify-between">
                <a href="/blog" class="inline-flex space-x-2 text-light-gray">
                    {% svg "/assets/svg/arrow-back.svg" class="w-4" %}
                    <span class="text-light-gray font-medium">Blog</span>
                </a>
                <span class="text-light-gray font-semibold opacity-50">{{ site.nickname }}</span>
            </div>
        </header>
        <main class="max-w-3xl mx-auto pb-4 absolute top-24">
            <div class="py-8">
                <h2 class="font-semibold text-3xl text-orange">{{ page.title }}</h2>
                <div class="inline-flex justify-between text-sm text-gray w-full mt-4">
                    <span>Published at {{ page.published_at | date: "%-d %B %Y" }}</span>
                    <span>
                        {% if page.published_at != page.last_edited_at %}
                        Last edited at {{ page.last_edited_at | date: "%-d %B %Y" }}
                        {% endif %}
                    </span>
                </div>
                <div class="text-white leading-loose font-serif text-lg space-y-4 font-medium">
                    {{ content }}
                </div>
            </div>
            <div class="bottom-0">
                {% include footer.html %}
            </div>
        </main>
    </body>
</html>